
.card {
    border: 0;
    box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
}
.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    background-color: transparent;
    border-bottom: 1px solid #eff2f5;
}
.card .card-header .card-title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
}
.card .card-header .card-title.flex-column {
    align-items: flex-start;
    justify-content: center;
}
.card .card-header .card-title .card-icon {
    margin-right: 0.75rem;
    line-height: 0;
}
.card .card-header .card-title .card-icon i {
    font-size: 1.25rem;
    color: #7e8299;
    line-height: 0;
}
.card .card-header .card-title .card-icon i:after,
.card .card-header .card-title .card-icon i:before {
    line-height: 0;
}
.card .card-header .card-title .card-icon .svg-icon svg {
    height: 24px;
    width: 24px;
}
.card
    .card-header
    .card-title
    .card-icon
    .svg-icon
    svg
    [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #7e8299;
}
.card
    .card-header
    .card-title
    .card-icon
    .svg-icon
    svg:hover
    [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
}
.card .card-header .card-title,
.card .card-header .card-title .card-label {
    font-weight: 500;
    font-size: 1.275rem;
    color: #181c32;
}
.card .card-header .card-title .card-label {
    margin: 0 0.75rem 0 0;
    flex-wrap: wrap;
}
.card .card-header .card-title .small,
.card .card-header .card-title small {
    color: #a1a5b7;
    font-size: 1rem;
}
.card .card-header .card-title .h1,
.card .card-header .card-title .h2,
.card .card-header .card-title .h3,
.card .card-header .card-title .h4,
.card .card-header .card-title .h5,
.card .card-header .card-title .h6,
.card .card-header .card-title h1,
.card .card-header .card-title h2,
.card .card-header .card-title h3,
.card .card-header .card-title h4,
.card .card-header .card-title h5,
.card .card-header .card-title h6 {
    margin-bottom: 0;
}
.card .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}
.card .card-body {
    padding: 2rem 2.25rem;
}
.card .card-footer {
    padding: 2rem 2.25rem;
    background-color: transparent;
    border-top: 1px solid #eff2f5;
}
.card .card-scroll {
    position: relative;
    overflow: auto;
}
.card.card-px-0 .card-body,
.card.card-px-0 .card-footer,
.card.card-px-0 .card-header {
    padding-left: 0;
    padding-right: 0;
}
.card.card-py-0 .card-body,
.card.card-py-0 .card-footer,
.card.card-py-0 .card-header {
    padding-top: 0;
    padding-bottom: 0;
}
.card.card-p-0 .card-body,
.card.card-p-0 .card-footer,
.card.card-p-0 .card-header {
    padding: 0;
}
.card.card-dashed {
    box-shadow: none;
    border: 1px dashed #e4e6ef;
}
.card.card-dashed > .card-header {
    border-bottom: 1px dashed #e4e6ef;
}
.card.card-dashed > .card-footer {
    border-top: 1px dashed #e4e6ef;
}
.card.card-bordered {
    box-shadow: none;
    border: 1px solid #eff2f5;
}
.card.card-flush > .card-header {
    border-bottom: 0;
}
.card.card-flush > .card-footer {
    border-top: 0;
}
.card.card-shadow {
    box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
    border: 0;
}
// .card.card-stretch {
//     height: calc(100% - var(--bs-gutter-y));
// }
// .card.card-stretch-75 {
//     height: calc(75% - var(--bs-gutter-y));
// }
// .card.card-stretch-50 {
//     height: calc(50% - var(--bs-gutter-y));
// }
// .card.card-stretch-33 {
//     height: calc(33.333% - var(--bs-gutter-y));
// }
// .card.card-stretch-25 {
//     height: calc(25% - var(--bs-gutter-y));
// }
.card .card-header-stretch {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    align-items: stretch;
}
.card .card-header-stretch .card-toolbar {
    margin: 0;
    align-items: stretch;
}
@media (min-width: 576px) {
    .card .card-header-sm-stretch {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        align-items: stretch;
    }
    .card .card-header-sm-stretch .card-toolbar {
        margin: 0;
        align-items: stretch;
    }
}
@media (min-width: 768px) {
    .card .card-header-md-stretch {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        align-items: stretch;
    }
    .card .card-header-md-stretch .card-toolbar {
        margin: 0;
        align-items: stretch;
    }
}
@media (min-width: 992px) {
    .card .card-header-lg-stretch {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        align-items: stretch;
    }
    .card .card-header-lg-stretch .card-toolbar {
        margin: 0;
        align-items: stretch;
    }
}
@media (min-width: 1200px) {
    .card .card-header-xl-stretch {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        align-items: stretch;
    }
    .card .card-header-xl-stretch .card-toolbar {
        margin: 0;
        align-items: stretch;
    }
}
@media (min-width: 1400px) {
    .card .card-header-xxl-stretch {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        align-items: stretch;
    }
    .card .card-header-xxl-stretch .card-toolbar {
        margin: 0;
        align-items: stretch;
    }
}