
/*
* Shop Banner CSS
*/
.banner_one{
    position: relative;
    .thumb{
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        img{
            border-radius: 4px;
            width: 100%;
            -webkit-transition:all 0.3s ease;
            -moz-transition:all 0.3s ease;
            -ms-transition:all 0.3s ease;
            -o-transition:all 0.3s ease;
            transition:all 0.3s ease;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .details{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 30px 40px;
        align-items: center;
        justify-content: left;
        .content-wrap {
            width: 100%;
        }
        .para{
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 14px;
            text-transform: uppercase;
        }
        .title{
            color: #fff;
            font-size: 29px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0em;
            line-height: 40px;
            text-transform: uppercase;
            width: 100%;

            .text-thm2 {
                display: block;
            }
        }
        .shop_btn {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0em;
            position: relative;
            text-align: left;
            transition: .3s;
            padding: 0 0 8px 0;
            z-index: 9;
        
            &::before {
                background-color: #fff;
                bottom: 0;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                width: 62%;
                transition: all 0.3s ease;
                z-index: -1;
            }
        }
    } 

    &:hover {
        .shop_btn:before{
            width: 100%;  
        }
    } 
}
