$duration: 30s;

@-webkit-keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.wpew-breaking-news {
	overflow: hidden;
	.ticker-wrap {
		position: relative;
		bottom: 0;
		width: 100%;
		background-color: #f9f9f9;
		padding-left: 100%;
		box-sizing: content-box;
		height: 70px;

		.ticker-heading {
			position: absolute;
			background: #A6C22F;
			display: flex;
			align-items: center;
			left: 0;
			top: 0;
			padding: 11px 40px;
			z-index: 2;
			color: white;
			text-transform: uppercase;
			font-size: 0.875rem;
			height: 70px;

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 10px solid #A6C22F;
				position: absolute;
				right: -10px;
			}
		}
		.ticker__item a {
			transition: .3s;
		}
		.ticker__item:before {
			content: '';
			height: 11px;
			width: 11px;
			display: inline-block;
			background-color: #a6c22f;
			border-radius: 100%;
			position: relative;
			margin-right: 15px;
		}
		.ticker:hover {
			-webkit-animation-play-state: paused;
			-moz-animation-play-state: paused;
			-ms-animation-play-state: paused;
			-o-animation-play-state: paused;  
			animation-play-state: paused;
		}
		.ticker {
			display: flex;
			align-items: center;
			height: 70px;
			line-height: 2.5rem;  
			white-space: nowrap;
			padding-right: 100%;
			box-sizing: content-box;
			-webkit-animation-iteration-count: infinite; 
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
			-webkit-animation-name: ticker;
			animation-name: ticker;
			-webkit-animation-duration: $duration;
			animation-duration: $duration;

			&__item {
				display: flex;
				padding: 0 20px;
				font-size: 0.875rem;
				color: #454545;
				height: 50px;
				align-items: center;  
			}
		}
	}
}
