// Post Blog CSS
.wpqx-our-blog {
    .eafe-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .eafe-col-3 {
            flex: 0 0 auto;
            width: 25%;
        }

        .eafe-col-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
        }

        .eafe-col-6 {
            flex: 0 0 auto;
            width: 50%;
        }

        .eafe-col-12 {
            flex: 0 0 auto;
            width: 100%;
        }

    }
    .eafe-row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .for_blog{
        margin-bottom: 30px;
        position: relative;
    
        .thumb{
            border-radius: 4px;
            overflow: hidden;
            position: relative;
    
            .skip-link {
                display: block;
            }
    
            .post_time{
                background-color: #fff;
                border-radius: 0 0 4px 4px;
                left: 20px;
                padding: 20px 13px 13px;
                position: absolute;
                text-align: center;
                top: 0;
    
                .mont{
                    color: #121212;
                    font-family: Lato;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
    
                .date {
                    color: #121212;
                    font-family: Signika;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 0em;
                }
            }
    
            &::before{
                background-color: rgba(18, 18, 18, 0.5);
                bottom: 0;
                content: "";
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }
        }
    
        &:hover {
            .thumb:before{
                opacity: 1;
            }
        } 
        &.list-type{
            display: -webkit-inline-flex;
            display: -moz-inline-flex;
            display: -ms-inline-flex;
            display: -o-inline-flex;
            display: inline-flex;
        }
    
        .details {
            .tc_content{
                padding: 20px 20px 30px;
    
                .title {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0em;
                    margin-bottom: 10px;
                    text-align: left;
                }
            }
            .tc_content{
                padding: 20px 20px 30px 0;
            }
        } 
    
        .details {
            position: relative;
            .bp_meta {
                ul {
                    li {
                        &:first-child {
                            margin-right: 20px;
                        }
                        a {
                            color: #4F4F4F;
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .tc_content {
                padding: 30px 0 0;
                .bpg_meta {
                    li {
                        a {
                            font-size: 14px;
                            color: rgb(119, 119, 119);
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
        .tag {
            border-radius: 60px;
            font-size: 10px;
            font-weight: 600;
            left: 20px;
            line-height: 20px;
            padding: 3px 20px;
            position: absolute;
            text-transform: uppercase;
            top: -15px;
            color: #fff;
            
            &.style2 {
                bottom: auto;
                left: 45px;
                top: 15px;
            }
        }
        .thumb {
            img {
                border-radius: 4px;
            }
        }
        .fp_footer {
            .fp_meta {
                li {
                    &:nth-child(2) {
                        margin-right: 30px;
                    }
                }
            }
        }
        &.list-type {
            .thumb {
                max-width: 450px;
                width: 100%;
            }
            .details {
                margin-bottom: 20px;
                padding: 30px 30px 30px 45px;
            }
        }
        .bgc-thm {
            background-color: #86BC42;
            a {
                color: #fff;
            }
        }
    }
    .for_blog.list-type .details p,
      .for_blog.blog_details_inner .details p {
        color: #4F4F4F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
    }
    
}

