
/*
* Pricing Table
**/ 

.wpew-pricing {
    .pricing_wrap {
        padding: 2.4rem;
        margin-bottom:30px;
        background: #ffffff;
        box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
        -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
        border-radius:0.5rem;
        &.standard {
            margin-top: -30px;
        }
    }
    .prt_head {
        text-align: center;
        margin-bottom:1.55rem;
        h4 {
            margin: 0;
        }
    }
    .prt_price {
        text-align: center;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prt_price h2 {
        font-size: 60px;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 0;
        &:before {
            display: none;
        }
    }
    .prt_price h2 span {
        font-size: 25px;
    }
    .prt_body ul {
        padding: 0;
        margin: 0 0 1rem;
    }
    .prt_body ul li {
        position: relative;
        padding: 10px 10px 10px 40px;
        color: #2c3038;
        font-size: 15px;
        font-weight: 600;
        margin-bottom:0px;
        list-style: none;
    }
    .prt_body ul li.none{
        opacity:0.5;
    }
    .prt_body ul li:before {
        content: "\2713";
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(39, 174, 96,0.12);
        border-radius: 50%;
        left: 0;
        position: absolute;
        top: 5px;
        font-size: 16px;
    }
    .prt_body ul li.none:before {
        content: "\2715";
        background:rgba(220, 53, 69, 0.12)!important;
        color:rgb(220, 53, 69)!important;
    }
    .btn.choose_package {
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 3px solid #ff980040;
        border-radius: 50px;
        font-weight: 400;
        font-size: 16px;
        transition: all ease 0.4s;
    }
    .btn.choose_package:hover, .btn.choose_package:focus {
        background:rgba(3, 185, 124,0.15);
        border: 4px solid rgba(3, 185, 124,0.15);
    }
    .recommended {
        margin-bottom: 1rem;
        padding: 6px 20px;
        background:#ff9800;
        display: inline-block;
        border-radius: 50px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
    }
    .btn.choose_package.active{
        color: #ffffff;
        background: #03b97c;
    }

}

