.shop_item {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 30px 20px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.shop_item .thumb {
    position: relative;
    text-align: center;
}

.shop_item .thumb_info {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mb0 {
    padding: 0;
    margin: 0;
}
.shop_item .thumb_info ul li {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    list-style: none;
}
.shop_item .thumb_info ul li a {
    color: #121212;
    font-size: 16px;
}
.text-center {
    text-align: center!important;
}
.shop_item .thumb_info ul li:hover {
    border: 1px solid #86BC42;
    cursor: pointer;
}
.shop_item .thumb_info ul li:hover a {
    color: #86BC42;
}
.shop_item .details .title {
    color: #4F4F4F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.1em;
}
.mbp_pagination_comments .mbp_first .media- .sspd_postdate .sspd_review ul li, .sspd_review ul li, .shop_item .details .review ul li {
    margin-right: 2px !important;
}
.mbp_pagination_comments .mbp_first .media- .sspd_postdate .sspd_review ul li a, .sspd_review ul li a, .shop_item .details .review ul li a {
    color: #F2B23E;
    font-family: "FontAwesome";
    font-size: 11px;
    line-height: 11px;
    text-align: right;
}

.shop_item .details .sub_title {
    color: #121212;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 15px;
}
.shop_item .details .si_footer {
    position: relative;
}
.shop_item .details .si_footer .price {
    color: #86BC42;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    left: 0;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    right: 0;
}

.shop_item .details .si_footer .cart_btn, .shop_item.home10_style .details .si_footer .cart_btn {
    bottom: -15px;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    left: 0;
    letter-spacing: 0em;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.btn-thm {
    background-color: #86BC42;
    border: 1px solid #86BC42;
    border-radius: 3px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.shop_item .details .si_footer .cart_btn span {
    font-size: 18px;
    vertical-align: middle;
}
.shop_item:hover {
    border: 1px solid #EBEBEB;
}
.shop_item:hover .thumb_info, .shop_item:hover .details .si_footer .cart_btn, .shop_item:hover .details .si_footer ul li a {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.list-inline-item {
    display: inline-block;
}

.shop_item .offer_badge {
    left: 0;
    position: absolute;
}
.shop_item .offer_badge ul li:first-child {
    margin-bottom: 10px;
}
.shop_item .offer_badge ul li a.offr_tag {
    background-color: #F2B23E;
    margin-bottom: 10px;
}

.shop_item .offer_badge ul li a {
    border-radius: 60px;
    color: #fff;
    line-height: 24px;
    padding: 5px 17px 5px 17px;
    text-align: center;
}
.shop_item .offer_badge ul li a.comison_rate {
    background-color: #CF3E3B;
}

.shop_item .offer_badge ul li a {
    border-radius: 60px;
    color: #fff;
    line-height: 24px;
    padding: 5px 17px 5px 17px;
    text-align: center;
    font-size: 12px;
}
.shop_item .offer_badge ul li{
    list-style: none;
}

.shop_item .details .si_footer .cart_btn span {
    font-size: 18px;
    vertical-align: middle;
}
.mr10 {
    margin-right: 10px;
}



// Pagination
.mbp_pagination {
    display: inline-block;
    position: relative;
    width: 100%;
}
.mbp_pagination ul.page_navigation {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.mbp_pagination ul.page_navigation li.page-item {
    display: inline-block;
    margin-right: 6px;
    margin-top: 12px;
}
.mbp_pagination ul.page_navigation li .page-link {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #121212;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 40px;
    display: inline-block;
}
.mbp_pagination ul.page_navigation li.active .page-link {
    background-color: #86BC42;
    color: #ffffff;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


















.star-rating {
    height: 50px;
    position: relative;
    width: 250px;
  }
  .star-rating:before {
    // background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20%23082532%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E) !important;
    background-repeat: repeat-x;
    background-size: 50px;
    bottom: 0;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
  }
  .star-rating > span {
    display: block;
    text-indent: -10000px;
    width: 250px;
    height: 50px;
    position: absolute;
    overflow: hidden;
  }
  .star-rating > span:before {
    // background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20%231F99CD%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E) !important;
    background-repeat: repeat-x;
    background-size: 50px;
    bottom: 0;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
  }
  .star-rating {
    height: 50px;
    position: relative;
    width: 250px;
  }
  .star-rating:before {
    // background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20%23082532%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E) !important;
    background-repeat: repeat-x;
    background-size: 50px;
    bottom: 0;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
  }
  .star-rating > span {
    display: block;
    text-indent: -10000px;
    width: 250px;
    height: 50px;
    position: absolute;
    overflow: hidden;
  }
  .star-rating > span:before {
    // background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20%231F99CD%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E) !important;
    background-repeat: repeat-x;
    background-size: 50px;
    bottom: 0;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
  }

   #wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 50px 0;
  }
   #wrapper h2 {
    margin: 0 0 5px 0;
  }
   #wrapper p {
    margin: 0 0 25px;
  }
   #wrapper .star-rating {
    margin: 0 auto 12.5px;
  }
  