.single_special {
	.set_menu {
		margin: 0px;
		padding: 0px;
		list-style:none;

		li {
			font-size: 15px;
			margin-bottom: 10px;
			span {
				float: right;
				color: #FF5E18;
			}
		} 
	}
	.total {
		border-top: 1px dotted #333;
		margin-top: 12px;
		padding-top: 5px;
	}
}
