
// Timeline
.timeline-area {
    padding: 40px 0 40px;
    position: relative;
    
    .time-line-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        .timeline-col-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .timeline-text-right{
            text-align: right!important;
        } 

        .timeline-left-content {
            .timeline-date {
                padding-left: 0;
                padding-right: 20px;
                &:after {
                    left: auto;
                    right: -27px;
                }
            }
        }
        .timeline-right-content {
            .timeline-description {
                padding-left: 64px;
                padding-right: 0;
                &::before {
                    left: 32px;
                    right: auto;
                }
                &::after {
                    left: -4px;
                    right: auto;
                }
            }
        }
        .timeline-description {
            &:hover {
                &:before {
                    background: #ed1c24;
                }
            }
        }
        .timeline-date {
            &:hover {
                &:after {
                    background: #ed1c24;
                }
            }
        }
        
    }

    .title-divider {
        margin-bottom: 79px;
    }
    .timeline-description {
        margin-top: 30px;
        padding-bottom: 28px;
        position: relative;
        padding-right: 62px;
        h6 {
            color: #ed1c24;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 6px;
            line-height: 16px;
        }
        p {
            color: #2a2a2a;
            font-size: 16px;
        }
        .timeline-date {
            p {
                color: #2a2a2a;
                font-size: 18px;
                line-height: 16px;
            }
        } 
        &::after {
            background: #c4c4c4 none repeat scroll 0 0;
            content: "";
            height: 4px;
            left: auto;
            position: absolute;
            right: -3px;
            top: 7px;
            width: 36px;
        }
        &::before {
            background: #c4c4c4 none repeat scroll 0 0;
            border-radius: 50%;
            content: "";
            height: 8px;
            left: auto;
            position: absolute;
            right: 33px;
            top: 5px;
            width: 8px;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
        }
    }

    .timeline-date {
        margin-top: 30px;
        padding-bottom: 49px;
        padding-left: 15px;
        position: relative;
        p {
            line-height: 16px;
        }   
        &::after {
            background: #eee none repeat scroll 0 0;
            border: 6px solid;
            border-radius: 50%;
            content: "";
            height: 24px;
            left: -27px;
            position: absolute;
            top: -3px;
            width: 24px;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            border-color: #c4c4c4;
        } 
    }

    .timeline-row {
        background: #c4c4c4 none repeat scroll 0 0;
        height: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;

        &:after {
            background: #c4c4c4;
            border-radius: 50%;
            bottom: -11px;
            content: "";
            height: 12px;
            left: -4px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: auto;
            width: 12px;
        }
        &:before {
            background: #c4c4c4;
            border-radius: 50%;
            content: "";
            height: 12px;
            left: -4px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: -11px;
            width: 12px;
        }
    }
}
