/**
* Tree graph
*/ 
.tree-diagram {
	ul {
		padding-top: 20px;
		position: relative;
		display: flex;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
        justify-content: center;
		ul {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				border-left: 1px solid #ccc;
				width: 0;
				height: 20px;
			}
		}
		li.tree-header {
			li {
				&:not(.top-level) {
					li {
						&:not(.active) {
							display: none;
						}
					}
				}
			}
		}
	}
	li {
		float: left;
		text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 12px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;

        @include breakpoint(mobileonly) {
            padding: 20px 5px 0 5px;
        }

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 50%;
			border-top: 1px solid #ccc;
			width: 50%;
			height: 20px;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 50%;
			border-top: 1px solid #ccc;
			width: 50%;
			height: 20px;
			right: auto;
			left: 50%;
			border-left: 1px solid #ccc;
		}
		&:only-child {
			&::after {
				display: none;
			}
			&::before {
				display: none;
			}
			padding-top: 0;
		}
		&:first-child {
			&::before {
				border: 0 none;
			}
		}
		&:last-child {
			&::after {
				border: 0 none;
			}
			&::before {
				border-right: 1px solid #ccc;
			}
		}
		a {
			border: 1px solid #D4D4D4;
			padding: 5px 10px;
			text-decoration: none;
			display: inline-block;
			align-items: center;
			background: #FFFFFF;
			border-radius: 2px;
			min-width: 120px;
			height: auto;
			text-align: center;
			transition: .3s;
            color: #333;
			&:hover {
                background-color: #d4482b;
                border: 1px solid #d4482b;
                color: #fff;
			}
			&:hover+ul {
				li {
					a {
                        background-color: #d4482b;
                        border: 1px solid #d4482b;
                        color: #fff;
					}
                    &:nth-child(2)>a {
                        background-color: #d4482b;
                        border: 1px solid #d4482b;
                        color: #fff;
                    }
					&::after {
						border-color: #173e4380;
						border-width: 2px;
					}
					&::before {
						border-color: #173e4380;
						border-width: 2px;
					}
				}
				&::before {
					border-color: #173e4380;
					border-width: 2px;
				}
				ul {
					&::before {
						border-color: #173e4380;
						border-width: 2px;
					}
				}
			}
		}
	}
	.top-level {
		>a {
			background-color: #f4f5f7;
			color: #222;
			width: auto;
			border: 1px solid #f4f5f7;
			font-size: 16px;
            @include breakpoint(mobileonly) {
                width: 165px;
            }
		}
	}
}